<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PodPuppy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
	</startup>
	<appSettings>
		<add key="portableMode" value="false"/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="MainTrace" value="Error"/>
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="myListener" type="PodPuppy.FixedLengthFileTraceListener, PodPuppy" initializeData="PodPuppyErrors.log" maxLines="128"/>
				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>
 <userSettings>
  <PodPuppy.Properties.Settings>
   <setting name="MainFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainFormSize" serializeAs="String">
    <value>733, 453</value>
   </setting>
   <setting name="ListFeedsSize" serializeAs="String">
    <value>717, 167</value>
   </setting>
  </PodPuppy.Properties.Settings>
 </userSettings>
</configuration>
